.btn {
  background: #6eebef;
  border-radius: 70px;
  border: none;
  font-size: 18px;
  line-height: 140%;
  width: 100%;
  padding: 14px 0;
  box-shadow: 0px 10px 20px rgba(67, 148, 151, 0.4);
  transition: 0.3s ease;
  &:hover {
    cursor: pointer;
    background: #63dbdf;
    box-shadow: 0px 10px 20px rgba(67, 148, 151, 0.4);
  }
}

@media (max-width: (768px)) {
  .btn {
    font-size: 14px;
    padding: 11px 0;
  }
}
