.header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 2;
  &-logo {
    height: 80px;
    max-width: 213px;
  }
}

@media (max-width: (1024px)) {
  .header {
    &-logo {
      height: 60px;
      max-width: 150px;
    }
  }
}
