.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(66, 55, 49, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 5; }

.modal {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(133, 111, 97, 0.1);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background: rgba(245, 245, 245, 0.4);
  border-radius: 20px;
  width: 420px;
  height: 569px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; }

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out; }

.modal--visible {
  display: block; }

.modal__header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 60px; }

.modal__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 40px;
  margin-bottom: 20px; }

.modal__footer {
  width: 100%; }

.modal-close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 30px;
  right: 30px; }
  .modal-close:hover {
    cursor: pointer; }

.modal-title {
  width: 100%;
  font-weight: 800;
  font-size: 22px;
  line-height: 120%;
  text-align: center; }

.modal__form {
  width: 100%; }

.modal-input {
  margin-bottom: 20px; }

.modal-text {
  width: 100%;
  color: #120d08;
  opacity: 0.5;
  font-size: 13px;
  line-height: 140%;
  text-align: center; }

.modal--1 {
  position: relative; }

@media (max-width: 768px) {
  .modal {
    width: 315px;
    height: 506px; }
    .modal__header {
      padding-top: 50px;
      margin-bottom: 34px; }
    .modal__body {
      padding: 0 30px; }
    .modal__footer {
      padding: 0 30px; }
    .modal-close {
      top: 20px;
      right: 20px; }
    .modal-title {
      font-size: 18px; } }

.input {
  width: 100%;
  height: 48px;
  background: #ffffff;
  border-radius: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.01em;
  padding: 14px;
  outline: none;
  border: none; }
  .input::-moz-placeholder {
    color: #a09e9c; }
  .input:-ms-input-placeholder {
    color: #a09e9c; }
  .input::placeholder {
    color: #a09e9c; }

@media (max-width: 768px) {
  .input {
    height: 42px;
    font-size: 14px; } }

.btn {
  background: #6eebef;
  border-radius: 70px;
  border: none;
  font-size: 18px;
  line-height: 140%;
  width: 100%;
  padding: 14px 0; }
  .btn:hover {
    cursor: pointer; }

@media (max-width: 768px) {
  .btn {
    font-size: 14px;
    padding: 11px 0; } }

.header {
  width: 100%;
  height: 80px;
  position: absolute;
  z-index: 2; }
  .header-logo {
    height: 80px;
    max-width: 213px; }

@media (max-width: 1024px) {
  .header-logo {
    height: 60px;
    max-width: 150px; } }

.hero {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/main-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .hero__left {
    height: 100vh;
    width: 50vw;
    position: absolute;
    z-index: 1;
    background: rgba(255, 251, 243, 0.6);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px); }
  .hero__container {
    height: 100vh;
    position: absolute;
    z-index: 4;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
  .hero__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .hero-title {
    font-weight: 800;
    font-size: 48px;
    line-height: 98%;
    letter-spacing: -0.01em;
    color: #120d08;
    margin-bottom: 40px; }
  .hero-subtitle {
    font-size: 18px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #120d08;
    margin-bottom: 40px; }
  .hero-btn {
    background-color: #6eebef;
    font-size: 18px;
    border: none;
    padding: 15px 30px;
    border-radius: 70px;
    cursor: pointer; }

@media (max-width: 1024px) {
  .hero__left {
    width: 100vw;
    height: 70vh; }
  .hero__wrapper {
    align-items: center; }
  .hero__container {
    align-items: center;
    justify-content: center;
    height: 70vh; }
  .hero-title {
    font-size: 35px;
    text-align: center; }
  .hero-subtitle {
    font-size: 16px;
    text-align: center; }
  .hero-btn {
    font-size: 16px;
    padding: 12px 25px; } }

@media (max-width: 768px) {
  .hero-title {
    font-size: 28px; }
  .hero-subtitle {
    font-size: 16px; }
  .hero-btn {
    font-size: 16px;
    padding: 10px 20px; } }

@media (max-width: 375px) {
  .hero-title {
    font-size: 26px; }
  .hero-subtitle {
    font-size: 14px; }
  .hero-btn {
    font-size: 14px;
    padding: 10px 15px; }
  .hero__container {
    padding: 10px; } }

.about__wrapper {
  display: flex;
  justify-content: space-between; }

.about__block {
  width: 50%;
  max-width: 570px; }

.about-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.01em; }

@media (max-width: 1440px) {
  .about__block {
    max-width: 500px; } }

@media (max-width: 1024px) {
  .about__wrapper {
    flex-direction: column; }
  .about__block {
    width: 100%;
    max-width: none; } }

@media (max-width: 425px) {
  .about-text {
    font-size: 16px; } }

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.footer-logo {
  height: 80px;
  max-width: 213px; }

.footer-phone, .footer-email {
  font-size: 18px; }

.footer-vk, .footer-fb, .footer-ig {
  width: 44px; }

.footer__socials {
  width: 132px;
  display: flex;
  align-items: center;
  justify-content: space-between; }

@media (max-width: 1024px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .footer-phone {
    margin-bottom: 20px;
    font-size: 16px; }
  .footer-email {
    font-size: 16px; }
  .footer__socials {
    height: 80px; }
  .footer-logo {
    height: 60px;
    max-width: 150px; } }

/*# sourceMappingURL=main.css.map */
