<section class="section about">
  <div class="container">
    <h2 class="section-header">Будем знакомы</h2>
    <div class="about__wrapper">
      <div class="about__block">
        <p class="about-text">
          Ремонт и&nbsp;восстановление паркета рано или поздно становятся
          актуальной темой для любого владельца паркетных полов. Восстановление
          паркета несоизмеримо дешевле замены.
        </p>
        <p class="about-text">
          Все новое&nbsp;&mdash; это хорошо забытое старое! Сегодня
          мы&nbsp;возрождаем паркет на&nbsp;объектах любой сложности
          от&nbsp;сталинских и&nbsp;хрущевских квартир до&nbsp;знаковых,
          культурных объектов Москвы и&nbsp;за&nbsp;ее&nbsp;пределами.
        </p>
      </div>
      <div class="about__block">
        <p class="about-text">
          Мы&nbsp;создали идеальную <nobr>бизнес-модель</nobr>, в&nbsp;которой
          каждый потраченный рубль приносит доход.
        </p>
        <p class="about-text">
          <nobr>Из-за</nobr> непростой экономической ситуации в&nbsp;стране
          данная отрасль активно развивается. А&nbsp;направлений, показывающих
          стабильный рост, сейчас не&nbsp;так уж&nbsp;и&nbsp;много.
        </p>
      </div>
    </div>
  </div>
</section>
