<section class="section conditions">
  <div class="container">
    <h2 class="section-header">Условия сотрудничества</h2>
    <div class="conditions__wrapper">
      <div class="conditions__block">
        <span class="conditions-title">ИНВЕСТИЦИИ:</span>
        <p class="conditions-text">
          300&nbsp;000&nbsp;рублей бюджет на&nbsp;рекламу<br />
          перед запуском франшизы
        </p>
      </div>
      <div class="conditions__block">
        <span class="conditions-title">ПАУШАЛЬНЫЙ ВЗНОС:</span>
        <p class="conditions-text">350 000 рублей</p>
      </div>
      <div class="conditions__block">
        <span class="conditions-title">РОЯЛТИ:</span>
        <p class="conditions-text">5% в месяц</p>
      </div>
      <div class="conditions__block">
        <span class="conditions-title">ОКУПАЕМОСТЬ:</span>
        <p class="conditions-text">10 месяцев</p>
      </div>
      <div class="conditions__block">
        <span class="conditions-title">СРЕДНИЙ ОБОРОТ В МЕСЯЦ:</span>
        <p class="conditions-text">4 000 000 рублей</p>
      </div>
      <div class="conditions__block">
        <span class="conditions-title">ПРИБЫЛЬ:</span>
        <p class="conditions-text">от 100 000 рублей</p>
      </div>
    </div>
  </div>
</section>
