<section class="section facts">
  <div class="container">
    <h2 class="section-header">Ключевые факторы франшизы</h2>
    <div class="facts__wrapper">
      <div class="facts__item">
        <div class="facts__header">
          <svg class="facts-icon">
            <use xlink:href="img/sprite.svg#payback"></use>
          </svg>
          <span class="facts-title">Окупаемость вложений</span>
        </div>
        <p class="facts-text">
          Франшиза начнет приносить<br />
          прибыль уже с&nbsp;первых<br />
          месяцев работы
        </p>
      </div>
      <div class="facts__item">
        <div class="facts__header">
          <svg class="facts-icon">
            <use xlink:href="img/sprite.svg#anti-crysis"></use>
          </svg>
          <span class="facts-title">Антикризисный бизнес</span>
        </div>
        <p class="facts-text">
          Наш бизнес переживает<br />
          все кризисы и&nbsp;экономические<br />
          потрясения
        </p>
      </div>
      <div class="facts__item">
        <div class="facts__header">
          <svg class="facts-icon">
            <use xlink:href="img/sprite.svg#adds"></use>
          </svg>
          <span class="facts-title">Реклама</span>
        </div>
        <p class="facts-text">
          Помогаем в&nbsp;создании потока<br />
          клиентов и&nbsp;с&nbsp;первого<br />
          дня запуска проекта
        </p>
      </div>
      <div class="facts__item">
        <div class="facts__header">
          <svg class="facts-icon">
            <use xlink:href="img/sprite.svg#support"></use>
          </svg>
          <span class="facts-title">Поддержка</span>
        </div>
        <p class="facts-text">
          Всю инфраструктуру и&nbsp;поддержку<br />
          бизнеса предоставляет головной<br />
          офис &laquo;Паркет Степ&raquo;
        </p>
      </div>
      <div class="facts__item">
        <div class="facts__header">
          <svg class="facts-icon">
            <use xlink:href="img/sprite.svg#service"></use>
          </svg>
          <span class="facts-title">Сервис</span>
        </div>
        <p class="facts-text">
          Передаем опыт оказания<br />
          услуг высокого качества<br />
          и&nbsp;клиентского сервиса
        </p>
      </div>
      <div class="facts__item">
        <div class="facts__header">
          <svg class="facts-icon">
            <use xlink:href="img/sprite.svg#stuff"></use>
          </svg>
          <span class="facts-title">Персонал</span>
        </div>
        <p class="facts-text">
          Обучаем операционному управлению,<br />
          технологии реставрации, всем видам<br />
          учета, необходимым для<br />
          функционирования компании
        </p>
      </div>
      <div class="facts__item">
        <div class="facts__header">
          <svg class="facts-icon">
            <use xlink:href="img/sprite.svg#customization"></use>
          </svg>
          <span class="facts-title">Автоматизация</span>
        </div>
        <p class="facts-text">
          Предоставляем доступ<br />
          к&nbsp;CRM системе
        </p>
      </div>

      <div class="facts__item">
        <button class="btn facts-btn" data-path="form-popup">
          Открыть франшизу
        </button>
      </div>
    </div>
  </div>
</section>
