<footer class="footer">
  <div class="container footer__container">
    <svg class="footer-logo">
      <use xlink:href="img/sprite.svg#logo"></use>
    </svg>
    <a class="footer-phone">+7 495 128-09-93</a>
    <a class="footer-email">parquetstep@yandex.ru</a>
    <div class="footer__socials">
      <a href="#" class="footer-vk">
        <svg class="footer-vk">
          <use xlink:href="img/sprite.svg#vk"></use>
        </svg>
      </a>
      <a href="#" class="footer-fb">
        <svg class="footer-fb">
          <use xlink:href="img/sprite.svg#fb"></use>
        </svg>
      </a>
      <a href="#" class="footer-ig">
        <svg class="footer-ig">
          <use xlink:href="img/sprite.svg#ig"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
