<section class="section franchise">
  <div class="container">
    <h2 class="section-header center franchise-header">
      Для кого франшиза «Паркет Степ»
    </h2>
  </div>
  <div class="franchise__wrapper">
    <div class="franchise__block">
      <p class="franchise-text">
        Вы&nbsp;предприниматель и&nbsp;рассматриваете запуск прибыльного бизнеса
      </p>
    </div>
    <div class="franchise__block">
      <p class="franchise-text">
        Вы&nbsp;практикующий мастер, и&nbsp;размышляете о&nbsp;том, как можно
        увеличить свой доход
      </p>
    </div>
    <div class="franchise__block">
      <p class="franchise-text">
        Вы&nbsp;владеете необходимыми инвестициями для реализации проекта
      </p>
    </div>
    <div class="franchise__block">
      <p class="franchise-text">
        Вы&nbsp;готовы соблюдать стандарты компании, активно управлять бизнесом
        и&nbsp;обучаться
      </p>
    </div>
  </div>
  <div class="container franchise__info">
    <h4 class="franchise-subtitle">
      Тогда франшиза «Паркет Степ» станет для вас отличным решением!
    </h4>
    <button class="btn franchise-btn" data-path="form-popup">
      Да, это именно для меня
    </button>
  </div>
</section>
