<div class="modals">
  <div class="modal-overlay">
    <div class="modal modal--1" data-target="form-popup">
      <div class="modal__header">
        <svg class="modal-close">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
        <span class="modal-title">Оставьте заявку</span>
      </div>
      <div class="modal__body">
        <form class="modal__form">
          <input type="text" class="input modal-input" placeholder="Ваше имя" />
          <input
            type="text"
            class="input modal-input"
            placeholder="Ваш город"
          />
          <input
            type="text"
            class="input modal-input"
            placeholder="Ваш телефон"
          />
          <input
            type="text"
            class="input modal-input"
            placeholder="Ваш e-mail"
          />
          <button type="submit" class="btn modal-btn">Отправить заявку</button>
        </form>
      </div>
      <div class="modal__footer">
        <p class="modal-text">
          Нажимая кнопку &laquo;Отправить заявку&raquo;, вы&nbsp;соглашаетесь
          с&nbsp;условиями обработки персональных данных
        </p>
      </div>
    </div>
  </div>
</div>
