<section class="section plan">
  <div class="container">
    <h2 class="section-header plan-header">
      Мы детально проработали план<br />
      успешного запуска
    </h2>
    <span class="plan-subtitle"
      >И помогаем всем необходимым нашим франчайзи:</span
    >
    <div class="plan__wrapper">
      <div class="plan__block">
        <ul class="plan-list">
          <li class="plan-item">Бренд и стандарты компании</li>
          <p class="plan-text">
            Возможность пользования брендом,<br />
            разработанными стандартами работы<br />
            и&nbsp;обслуживания клиентов.
          </p>
          <li class="plan-item">
            Открытие представительства<br />
            в&nbsp;вашем городе
          </li>
          <p class="plan-text">
            Пошаговая инструкция по&nbsp;открытию<br />
            и&nbsp;быстрому старту в&nbsp;Вашем регионе.
          </p>
          <li class="plan-item">Технологии и&nbsp;инструменты бизнеса</li>
          <p class="plan-text">
            Обучение, материалы, входят в&nbsp;пакет<br />
            технологий и&nbsp;правил ведения бизнеса.
          </p>
          <li class="plan-item">Пакет документов</li>
          <p class="plan-text">Инструкции, регламенты, скрипты.</p>
        </ul>
      </div>
      <div class="plan__block">
        <ul class="plan-list">
          <li class="plan-item">Обучение</li>
          <p class="plan-text">
            Обучение операционному управлению.<br />
            Организация документооборота внутри компании<br />
            Партнера и&nbsp;взаимодействие с&nbsp;Головным офисом.<br />
            Обучение автоматизированной системе<br />
            учета клиентов и&nbsp;работе в&nbsp;CRM системе.
          </p>
          <li class="plan-item">Маркетинг</li>
          <p class="plan-text">
            Помогаем в&nbsp;создании потока клиентов<br />
            и&nbsp;с&nbsp;первого дня запуска проекта.
          </p>
          <li class="plan-item">Куратор</li>
          <p class="plan-text">
            5 дней в&nbsp;неделю помощь в&nbsp;вопросах открытия<br />
            и&nbsp;решении сложных задач.<br />Сопровождение
            по&nbsp;финансовым<br />
            и&nbsp;юридическим вопросам.
          </p>
        </ul>
      </div>
    </div>
  </div>
</section>
