<section class="section project">
  <div class="container project__container">
    <h2 class="section-header">О проекте</h2>
    <div class="project__wrapper">
      <div class="project__block">
        <p class="project-text">
          &laquo;Паркет Степ&raquo;&nbsp;&mdash; оказывает полный комплекс услуг
          по&nbsp;реставрации и&nbsp;укладке паркета.
        </p>
      </div>
      <div class="project__block">
        <p class="project-text">
          Это прибыльный бизнес, который находится в&nbsp;перспективном сегменте
          рынка с&nbsp;востребованным спектром услуг.
        </p>
      </div>
    </div>
    <div class="project__info">
      <div class="project__item">
        <span class="project-count">12</span>
        <p class="project-desc">
          лет на&nbsp;рынке реставрации и&nbsp;укладки паркета
        </p>
      </div>
      <div class="project__item">
        <span class="project-count">32</span>
        <p class="project-desc">человека<br />в&nbsp;штате</p>
      </div>
      <div class="project__item">
        <span class="project-count">2</span>
        <p class="project-desc">собственных филиала</p>
      </div>
      <div class="project__item">
        <span class="project-count">за 1</span>
        <p class="project-desc">день циклевка паркета &laquo;под ключ&raquo;</p>
      </div>
    </div>
  </div>
</section>
